<!--<% random_names= ["Sanjeev","Sudhir","Kapil","Harsh"] %>-->
<h1>Greetings, <%= @name %></h1>
<p>Find me in app/views/greeter/hello.html.erb</p>
<p>Time t now is <%= @time %> </p>
<p> This page has been viewd <%= @times_displayed %> times </p>
<p><%= link_to "Google","http://www.google.com" %></p>
<p><%= link_to "Goodbye",greeter_goodbye_path %></p>
